* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.remove-scrollbar {
    overflow-x: auto;   
    overflow-y: hidden; 
    -webkit-overflow-scrolling: touch;
}

.remove-scrollbar::-webkit-scrollbar {
    display: none;
}

.remove-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}


/* Prose styles */

.prose-container {
    line-height: 1.75;
    font-size: 1rem;
}

.prose-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0 1rem;
}
.prose-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0 1rem;
}
.prose-container h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1.2rem 0 0.8rem;
}

/* Add h4–h6  */

.prose-container p {
    margin-bottom: 1.25rem;
}

/* Links */
.prose-container a {
    text-decoration: underline;
    color: #c7c7c7;
    padding-inline: 0.3rem;
    transition: color 0.3s ease;
}
.prose-container a:hover {
    color: #c6b1ff;
}

/* Lists */
.prose-container ul,
.prose-container ol {
    margin-left: 1.5rem;
    margin-bottom: 1.25rem;
}
.prose-container ul {
    list-style-type: disc;
}
.prose-container ol {
    list-style-type: decimal;
}
.prose-container li {
    margin-bottom: 0.5rem;
}

/* Blockquote */
.prose-container blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    color: #929292;
    margin: 1.5rem 0;
    font-style: italic;
}

/* Code */
.prose-container code {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    padding: 0.2rem 0.4rem;
}
.prose-container pre {
   line-height: normal;
   margin-bottom: 2rem;
   > * {
    background: transparent!important;
   }

   code {
    padding: 0;
   }
}

.prose-container .contains-code > * {
    background: transparent!important;
}

/* Horizontal rule */
.prose-container hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}

/* Images */
.prose-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}

/* Emphasis */
.prose-container strong {
    font-weight: bold;
}
.prose-container em {
    font-style: italic;
    font-family: 'Newsreader', serif;
}

.no-opacity {
    opacity: 0 !important;
}