* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.remove-scrollbar {
    overflow-x: auto;   
    overflow-y: hidden; 
    -webkit-overflow-scrolling: touch;
}

.remove-scrollbar::-webkit-scrollbar {
    display: none;
}

.remove-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}